body{
  margin:0 auto;
	padding:0 20px;
  font-family:'Trebuchet MS'
}

.movie {
    display: inline-block;
    margin: 6px;
    vertical-align: top;
}

.thumbnail{
	width: 150px;
}

.imdb-ranking i {
    margin-right: 2px;
    color: #ccc;
    cursor:pointer;
}

	.imdb-ranking i.active{
		color: red;
	}

	.imdb-ranking i.new-rating{
		color:gold;
	}
